@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@/assets/scss/_variable.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;

  @media screen and (min-width: 1500px) {
    font-size: 90%;
  }

  @media screen and (min-width: 2000px) {
    font-size: 180%;
  }

  @media (orientation: portrait) {
    font-size: 150%;

    .row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      [class*='col-'] {
        max-width: 100% !important;
        width: 100% !important;
      }
    }

    @media screen and (max-width: 900px) {
      font-size: 70% !important;

      .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        [class*='col-'] {
          max-width: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}

body {
  font-family: 'Work Sans',
    sans-serif;
  font-size: 1.8rem;
  scroll-behavior: smooth;
}

.section {
  overflow-y: hidden;
  position: relative;

  width: 100vw;
  overflow-x: hidden;

  label {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 2rem;
    color: $secondary;
  }

  .container-fluid {
    position: relative;

    @media screen and (min-width: 1500px) {
      padding: 0rem 6rem;
    }

    @media screen and (min-width: 2000px) {
      padding: 0rem 3rem;
    }
  }
}